*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}



h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*my code*/
  display: flex;
  justify-content: center;
  padding-top: 133px;
}


/*my code*/
.content {
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
  grid-template-areas:
    "g-result  g-details";
  width: 1140px;
  height: 534px;
}

.result {
  grid-area: g-result;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 711px;
  height: 456px;
  padding-top: 78px;
}

.result__video-container {
  margin-bottom: 16px;
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 5px;
}

/*input*/
.search-form__textfield {
  width: 225px;
  height: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}


.search-form__textfield:active {
  border-right-color: rgba(255, 255, 255, 1);
  border-left-color: rgba(255, 255, 255, 1);
}

.search-form__textfield:hover {
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:not(:active):focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

/*checkbox*/
.search-form__checkbox-list {
  width: 212px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: '';
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: #fff;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 1);
  margin-left: 5px;
}

.button {
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  padding-top: 6px;
  padding-bottom: 6px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.search-form__submit-button:active,
.more-button:active {
  background-color: #545050;
}

.search-form__submit-button:hover,
.more-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__submit-button:focus,
.more-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible,
.more-button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.content__details {
  grid-area: g-details;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  /*width: 259px;
  height: 210px;*/
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  width: 399px;
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}

.content__list-item {
  padding: 3px;
}

.content__video-card {
  width: 390px;
  height: 103px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__card-link {
  text-decoration: none;
  border-color: rgba(255, 255, 255, 1);
}

.content__card-link {
  display: block;
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: rgba(255, 255, 255, 1);
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-description-container {
  width: 196px;
}

.content__video-card-description-container *:hover {
  text-decoration: underline;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/*-----------------------*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}